.banner
  header.flex
    .logo-container.flex
      a(href="index.html")
        h1.flex  
          span.logo KK
          span.description jazykové centrum
    ul.switch-language.flex
      li Jazyk stránky:
      li      
        a.flag.cz.underline(href="index.html")        
        //- a.underline(href="index.html") CZ
      li
        a.flag.ru(href="indexRU.html")
        //- a(href="indexRU.html") RU
      li
        a.flag.en(href="indexRU.html")
        //- a(href="indexEN.html") EN
  .container-text
    //- .offer-intro
    h2.header-text Jazykové kurzy v Prahe 
    .offer-languages.flex
      .btn.language
        a(href="cesky_jazyk.htm") Český jazyk 
      .btn.language 
        a(href="rusky_jazyk.html") Ruský jazyk
      .btn.language 
        a(href="latinsky_jazyk.html") Latinský jazyk
    .offer-courses
      h3 Ponúkame jazykové kurzy pre <a href="#beginners">začiatočníkov</a> aj <a href="#advanced">pokročilých</a>, <a href="individual">individualnu výuku</a> a <a href="international_exam">prípravné kurzy na medzinarodnú zkúšku</a>.
      .btn.cta 
        a(href="#courses_cz") Ponuka kurzov
  .line.flex
    i.fa.fa-chevron-down

            
 
