.banner
  header.flex
    .logo-container.flex
      a(href="index.html")
        h1.flex  
          span.logo KK
          span.description jazykové centrum
    ul.switch-language.flex
      li Jazyk stránky:
      li      
        a.flag.cz.opacity(href="index.html")        
        //- a.underline(href="index.html") CZ
      li
        a.flag.ru(href="indexRU.html")
        //- a(href="indexRU.html") RU
      li
        a.flag.en(href="indexEN.html")
        //- a(href="indexEN.html") EN
  .container_80.flex.h-centered
    h2.header-text Jazykové kurzy v Prahe 
    .offer-languages.flex.h-centered
      .btn.language
        a(href="cesky_jazyk.htm") Český jazyk 
      .btn.language 
        a(href="rusky_jazyk.html") Ruský jazyk
      .btn.language 
        a(href="latinsky_jazyk.html") Latinský jazyk
    h3.offer-courses Ponúkame jazykové kurzy pre <a class="underline" href="#beginners">začiatočníkov</a> aj <a class="underline" href="#advanced">pokročilých</a>, <a class="underline" href="individual">individualnu výuku</a> a <a class="underline" href="#international_exam">prípravné kurzy na medzinarodnú skúšku</a>.
    .btn.cta 
      a(href="#courses_cz") Ponuka kurzov
  .line.flex
    i.fa.fa-chevron-down    
  

            
 
