.banner
  header.flex
    .logo-container.flex
      a(href="index.html")
        h1.flex  
          span.logo KK
          span.description Jazykové centrum
    ul.switch-language.flex
      li
        a(href="index.html") CZ
      li
        a(href="indexRU.html") RU
      li
        a(href="indexEN.html") EN
  .container-text
    .offer-intro
      h2.header-text Jazykové kurzy v Praze 
    .offer-languages
      .btn.language
        a(href="cesky_jazyk.htm") Český jazyk 
      .btn.language 
        a(href="rusky_jazyk.html") Ruský jazyk
    .offer-courses
      h3 Ponoukame jazykove kurzy pro <a href="#beginners">začatečníky</a> i <a href="#advanced">pokročilé</a>, <a href="individual">individualni výuku</a> a <a href="international_exam">připravní kurzy na medzinarodní zkoušku</a>.
      .btn.cta Podrobni ponuka kurzu

            
 
