header.flex
  .logo-container.flex
    a(href="/")
      h1.flex  
        span.logo KK
        span.description jazykové centrum
  ul.switch-language.flex
    li Jazyk stránky:
    li      
      a.flag.cz.opacity(href="/")        
      //- a.underline(href="index.html") CZ
    li
      a.flag.ru(href="/ru/index.html")
      //- a(href="indexRU.html") RU
    li
      a.flag.en(href="/en/index.html")
        //- a(href="indexEN.html") EN
nav.flex
  .logo-container
    a(href="/")
      .flex  
        span.logo KK
        //- span.description jazykové centrum
  ul.navigation.flex
    li
        a(href="/") Úvod
    li
      a(href="") Jazyky
      ul
        li 
            a(href="/cesky-jazyk") Český jazyk                     
        li 
            a(href="/") Ruský jazyk                     
        li 
            a(href="/") Anglicky jazyk                   
        li                       
    li
      a(href="") Jazykové kurzy
      ul
        li 
            a(href="/courses/express-1-cz/") Express I                      
        li 
            a(href="/courses/express_2_cz/") Express II                      
        li 
            a(href="/courses/standard_1_cz") Standard I                   
        li 
            a(href="/courses/standard_2_cz") Standard II  
        li 
            a(href="/courses/standard_3_cz") Standard III 
        li 
            a(href="/courses/intensive_cz") Intensive
        li 
            a(href="/courses/pripravny_cz") Připravný kurzy na medzinarodní zkoušku                                                                                                                                                                                         
        li 
            a(href="/courses/individual_cz") Individuálni vyúka
    li
        a(href="/cennik") Ceník
    li
        a(href="/lektori") Lektoři
    li
        a(href="/kariera") Kariéra
    li
        a(href="/kontakt") Kontakt
.banner

            
 
