nav
  ul.navigation.flex
    li
        a(href="") Úvod
    li
        a(href="") O nás
    li
      a(href="") Jazyky
      ul
        li 
            a(href="") Český jazyk                     
        li 
            a(href="") Ruský jazyk                     
        li 
            a(href="") Anglicky jazyk                   
        li                       
    li
      a(href="") Jazykové kurzy
      ul
        li 
            a(href="") Express I                      
        li 
            a(href="") Express II                      
        li 
            a(href="") Standard I                   
        li 
            a(href="") Standard II  
        li 
            a(href="") Standard III 
        li 
            a(href="") Intensive
        li 
            a(href="") Připravný kurzy na medzinarodní zkoušku                                                                                                                                                                                         
        li 
            a(href="") Individuálni vyúka
    li
        a(href="") Cenník
    li
        a(href="") Kariéra
    li
        a(href="") Lektoři
main    
  section.languages
  section.courses
  section.testimonies
