mixin language-item(language, href)
  a(href=href)
    .language-item.flex.v-centered
      .flag-big&attributes(attributes)
      h3.flex.h-centered=language
    
mixin news-item(href, news)
  li 
    a(href=href)
      i.fa.fa-angle-right
      =news
    //- hr
    

main    
  section
    .container_100.flex
      .grid-3.flex.h-centered.content-box
        .news
          h2 Novinky
          ul
            +news-item('','Zápis na kurzy od 10.4.2016')
            +news-item('','Otvorenie Jazykového centra 16.4.2016')
            +news-item('','Začiatok výuky 17.4.2016')
            +news-item('','Zápis na kurzy od 10.4.2016')
            +news-item('','Otvorenie Jazykového centra 16.4.2016')
            +news-item('','Začiatok výuky 17.4.2016')
            +news-item('','Lorem ipsum dolor sit amet, consec adipisicing elit dolor')
            +news-item('','Otvorenie Jazykového centra 16.4.2016')
            li 
              a(href="")
                i.fa.fa-angle-right 
                | Začiatok výuky 17.4.2016
         
      .grid.flex.h-centered
        .languages.content-box.t-center
          h2 Jazyky, ktoré vyučujeme 
          .container_100.flex.h-centered
            +language-item('Český jazyk', 'ceskyjazyk.html')(class="cz")
            +language-item('Ruský jazyk', 'ruskyjazyk.html')(class="ru")
            +language-item('Anglický jazyk', 'anglickyjazyk.html')(class="en")
            +language-item('Ruský jazyk', 'anglickyjazyk.html')(class="ru")
            +language-item('Český jazyk', 'anglickyjazyk.html')(class="cz")
            +language-item('Anglický jazyk', 'anglickyjazyk.html')(class="en")

            
  section.flex.h-centered.red
    .container_80.flex.space
      .grid-smaller
        h3 Kurzy
      .grid-bigger.flex.content-box
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      
  section.flex.h-centered
    .container_80.flex
      h3 Kurzy pre pokročilých:
      .grid-bigger
  
  section.flex.h-centered
    .container_80.flex
      h3 Individualna vyuka:
      .grid-bigger
        .hr
  section.flex.h-centered
    .container_80.flex
      h3 Prípravné kurzy na medzinárodnú skúšku:
      .grid-bigger 
        .hr
  section
  
