main    
  section#courses_cz.flex.h-centered
    .container_80.flex
      .grid-bigger.flex.h-centered
        .content-box
          h2 Naša ponuka kurzov 
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      .grid-smaller.flex.h-centered
        .content-box.shadow
          h2 Novinky
          ul
            li 
              a(href="") Zápis na kurzy od 10.4.2016
            li 
              a(href="") Otvorenie Jazykového centra 16.4.2016
            li 
              a(href="") Začiatok výuky 17.4.2016
            li 
              a(href="") . . .
  section.flex.h-centered
    .container_80.flex.space
      .grid-smaller
        h3 Kurzy
      .grid-bigger.flex.content-box
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      .info-tab.flex
        .info-name.t-center
          h4 Express I
        .info-description.t-center
          p Kurz pre začiatočníkov
          p 16 vyučovacích hodín
          p 2 hod/tydne
        .info-price.t-center
          p 2900 Kč
        .info-container.flex.h-centered
          .btn.info-cta 
            a(href="") Více
      
  section.flex.h-centered
    .container_80.flex
      h3 Kurzy pre pokročilých:
      .grid-bigger
  
  section.flex.h-centered
    .container_80.flex
      h3 Individualna vyuka:
      .grid-bigger
        .hr
  section.flex.h-centered
    .container_80.flex
      h3 Prípravné kurzy na medzinárodnú skúšku:
      .grid-bigger 
        .hr
  section
  
