//- mixin language-item(language)
  //- a(href=href)
  //- .language-item.flex.v-centered.v-start
    //- .flag-big&attributes(attributes)
    //- h3.t-center= language
    
mixin language-item-top(language, data)
  .language-item
     h3(data-category=data)= language
        
                
section.newsLanguages
  
  .container_main-news.flex.h-centered#languages 
      .container_90
        h2.languages_title.t-center Jazyky, ktoré vyučujeme 
      .container_90.languages-choice.languages-hover#1st
        +language-item-top('Živé jazyky', 'zive')         
        +language-item-top('Starobylé jazyky', 'starobyle')
      .container_90#2nd.languages.languages-hover

      .container_90#3rd.languages
  h2.newsLanguages__headlineNews novinky     
