mixin language-item-top(language, data)
  .language-item
     h3(data-category=data)= language
        
section 
  .languagesNews__outerContainer
    .languagesNews__languages
      h2.languages__title Jazyky, které vyučujeme
      //- h3.languages__subtitle Jako jediná jazyková škola v Praze se pyšníme výukou desítek "malých" jazyků  
      #1st.languages__innerContainer.languages-choice.languages-hover
        +language-item-top('Živé jazyky', 'zive')         
        +language-item-top('Starobylé jazyky', 'starobyle')
      #2nd.languages__innerContainer.languages-hidden.languages-hover

      #3rd.languages__innerContainer.languages-hidden
    
    .languagesNews__newsContainer
      .languagesNews__news
        h2.news__title Novinky
        ul.news__list#news
