mixin language-item-top(language, data)
  .language-item
     h3(data-category=data)= language
        
section 
  .languagesNews__outerContainer
    .languagesNews__advertismentContainer
      h2.advertisment__title STUDUJTE JAZYKY A POZNÁVEJTE NOVÉ KULTURY S MLADÝMI LEKTORY Z UNIVERZITY KARLOVY 
      ul.advertisment__list
        li.advertisment__listItem Mladý lektorský tým tvoří <span class="text-highlight">absolventi jazykovědných oborů</span> i rodilí mluvčí. 
        li.advertisment__listItem Kvalita výuky je garantována díky vazbě na Filozofickou fakultu Univerzity Karlovy v Praze.
        li.advertisment__listItem Nabízíme individuální, skupinové i firemní jazykové kurzy. 
        li.advertisment__listItem Vytvoříme kurz přesně podle Vašich představ. 
        li.advertisment__listItem Vedle dlouhodobých kurzů pořádáme i jednorázové workshopy, úvodní setkání s jazyky a krátkodobé intenzivní kurzy.
      h3.advertisment__subtitle2 CENA JIŽ OD 250 Kč! 
      ul.advertisment__list
        li.advertisment__listItem Kromě světových jazyků se pyšníme i výukou desítek "malých" jazyků .
        li.advertisment__listItem Vyučujeme jazyky živé i mrtvé.
        li.advertisment__listItem Chcete-li se seznámit s mrtvými jazyky jen obecně, navštivte naše workshopy.
        li.advertisment__listItem.advertisment-padding Nenašli jste na seznamu jazyk, kterým se chcete zabývat?
        li.advertisment__listItem Neváhejte nás kontaktovat, pokusíme se Vám učitele zajistit!

    .languagesNews__newsContainer
      .languagesNews__news
        h2.news__title Novinky
        ul.news__list#news
    .languagesNews__languages
      h2.languages__title JAZYKY, KTERÉ VYUČUJEME
      #1st.languages__innerContainer.languages-choice.languages-hover
        +language-item-top('Živé jazyky', 'zive')         
        +language-item-top('Starobylé jazyky', 'starobyle')
      #2nd.languages__innerContainer.languages-hidden.languages-hover
      #3rd.languages__innerContainer.languages-hidden  
