//- mixin language-item(language)
  //- a(href=href)
  //- .language-item.flex.v-centered.v-start
    //- .flag-big&attributes(attributes)
    //- h3.t-center= language
    
mixin language-item-top(language, data)
  .language-item
     h3(data-category=data)= language 
        
                
section.languagesNews  
  //- #languages.container_main-news.flex.h-centered.languages__wrapper 
  #languages.languages__outerContainer
    .languages__innerContainer
      h2.languages__title Jazyky, ktoré vyučujeme 
    #1st.languages__innerContainer.languages-choice.languages-hover
      +language-item-top('Živé jazyky', 'zive')         
      +language-item-top('Starobylé jazyky', 'starobyle')
    #2nd.languages__innerContainer.languages.languages-hover

    #3rd.languages__innerContainer.languages
  h2.newsLanguages__headlineNews novinky     
