footer.footer
  .container_80.content-box
    .container.t-center
      .phone
        h2 <i class="fa fa-phone-square"></i> Telefon

        .content
          a(href="tel:+420 776258908") +420 776258908
        
      .address
        h2 <i class="fa fa-university"></i> Adresa

        .content
          p KK jazykove centrum
          p Vinohradská 40/1972
          p 120 00 Praha 2
        
      .mail
        h2 <i class="fa fa-envelope"></i> Email
    
        .content 
          a(href="mailto:xenie.kasatova@gmail.com") xenie.kasatova@gmail.com
  //- .container_80.flex.h-centered
    //- .copyright
      //- i.fa.fa-copyright
      //- | TK  {{ 'now' | date: "%Y" }}

    
    
  
