footer.footer
    .footer__container
      .phone
        h2 <i class="fa fa-phone-square"></i> Telefon
        .footer__content
          a(href="tel:+420 776258908") +420 776258908      
      .address
        h2 <i class="fa fa-university"></i> Adresa
        .footer__content
          p Xenie Kasatová
          p Táboritská 7
          p Praha 3       
      .mail
        h2 <i class="fa fa-envelope"></i> Email  
        .footer__content 
          a(href="mailto:kasatova@mithridates.cz") kasatova@mithridates.cz
  //- .container_80.flex.h-centered
    //- .copyright
      //- i.fa.fa-copyright
      //- | TK  {{ 'now' | date: "%Y" }}

    
    
  
