footer.footer
  .container_80.content-box
    .container
      .address
        h2 <i class="fa fa-university"></i> Adresa
        .content
          p KK jazykove centrum
          p Vinohradská 40/1972
          p 120 00 Praha 2
      .phone
        h2 <i class="fa fa-phone-square"></i> Telefon
        .content
          a(href="tel:+420602000000") +420 602 000 000
      .mail
        h2 <i class="fa fa-envelope"></i> Email
        .content 
          a(href="mailto:mail@mail.com") mail@mail.com
      
    
    
  
