.banner
  .banner__container
    h2.banner__title Jazykové kurzy v Praze
    h3.banner__subtitle Jazyk vždy zasazujeme do kontextu reálií 
    h3.banner__subtitle Kvalita výuky je garantována díky vazbě na Filozofickou Fakultu Univerzity Karlovy v Praze 
