.banner2
  header.flex
    .logo-container.flex
      a(href="index.html")
        h1.flex  
          span.logo KK
          span.description jazykové centrum
    ul.switch-language.flex
      li Jazyk stránky:
      li      
        a.flag.cz.opacity(href="index.html")        
        //- a.underline(href="index.html") CZ
      li
        a.flag.ru(href="indexRU.html")
        //- a(href="indexRU.html") RU
      li
        a.flag.en(href="indexEN.html")
          //- a(href="indexEN.html") EN
