section
  .container_60.t-center
    h2.m-top-title Kariera
    h3.m-top-subtitle Hledate práci?
    h3.m-top-subtitle Podivejte se, zda nehledáme prave vás!
  .container_50
    .job-offer.flex
      .flex-2
        h4 Pracovni pozice
      .flex-1
        p Datum pridani
      .container_100.t-center
        p Termin nastupu:<span> Asap<span>
      .container_100.t-center
        p Ak mate zaujem o tuto pozici zaslete nam vas zivotopis na <a href="mailto:mail@mail.com"> mail@mail.com></a>
    .job-offer.flex
      .flex-2
        h4 Pracovni pozice
      .flex-1
        p Datum pridani
      .container_100.t-center
        p Termin nastupu:<span> Asap<span>
      .container_100.t-center
        p Ak mate zaujem o tuto pozici zaslete nam vas zivotopis na <a href="mailto:mail@mail.com"> mail@mail.com </a>
    .job-offer.flex
      .flex-2
        h4 Pracovni pozice
      .flex-1
        p Datum pridani
      .container_100.t-center
        p Termin nastupu:<span> Asap<span>
      .container_100.t-center
        p Ak mate zaujem o tuto pozici zaslete nam vas zivotopis na <a href="mailto:mail@mail.com"> mail@mail.com></a>
    
  
    //- include include/job-offer.jade
    
