section
  .job__offer
    h2.headline2.job__title
      div hledáme studenty/ky
      div pro výuku jazyků
    p.text.job__content Studenti vyšších ročníků a absolventi FF UK přijmou do svého týmu kreativní lektory jazyků pro workshopy a výuku individuální, skupinovou i firemní. Vítáme všechny jazyky: živé i mrtvé, přirozené i umělé!
    
    h4.job__subtitle Nabízíme:
    ul.job__list
      li Vybavené zázemí,
      li Pomoc v přípravě studijního plánu,
      li Zajištění učebních materiálů,
      li Aktivní hledání klientely,
      li Individuální přístup.
  
    
  
    //- include include/job-offer.jade
    
