header.flex
  .logo-container.flex
    a(href="index.html")
      h1.flex  
        span.logo KK
        span.description jazykové centrum
  ul.switch-language.flex
    li Jazyk stránky:
    li      
      a.flag.cz.opacity(href="index.html")        
      //- a.underline(href="index.html") CZ
    li
      a.flag.ru(href="indexRU.html")
      //- a(href="indexRU.html") RU
    li
      a.flag.en(href="indexEN.html")
        //- a(href="indexEN.html") EN
nav.flex
  .logo-container
    a(href="index.html")
      h3.flex  
        span.logo KK
        //- span.description jazykové centrum
  ul.navigation.flex
    li
        a(href="/") Úvod
    li
      a(href="") Jazyky
      ul
        li 
            a(href="") Český jazyk                     
        li 
            a(href="") Ruský jazyk                     
        li 
            a(href="") Anglicky jazyk                   
        li                       
    li
      a(href="") Jazykové kurzy
      ul
        li 
            a(href="") Express I                      
        li 
            a(href="") Express II                      
        li 
            a(href="") Standard I                   
        li 
            a(href="") Standard II  
        li 
            a(href="") Standard III 
        li 
            a(href="") Intensive
        li 
            a(href="") Připravný kurzy na medzinarodní zkoušku                                                                                                                                                                                         
        li 
            a(href="") Individuálni vyúka
    li
        a(href="/cennik") Cenník
    li
        a(href="/lektori") Lektoři
    li
        a(href="/kariera") Kariéra
    li
        a(href="/kontakt") Kontakt
