header.flex
  .logo-container.flex
    a(href="/")
      h1.flex  
        span.logo KK
        span.description jazykové centrum
  ul.switch-language.flex
    li Jazyk stránky:
    li      
      a.flag.cz.opacity(href="/")        
      //- a.underline(href="index.html") CZ
    li
      a.flag.ru(href="/indexRU.html")
      //- a(href="indexRU.html") RU
    li
      a.flag.en(href="/indexEN.html")
        //- a(href="indexEN.html") EN
nav.flex
  .logo-container
    a(href="/")
      h3.flex  
        span.logo KK
        //- span.description jazykové centrum
  ul.navigation.flex
    li
        a(href="/") Úvod
    li
      a(href="") Jazyky
      ul
        li 
            a(href="/cesky-jazyk") Český jazyk                     
        li 
            a(href="") Ruský jazyk                     
        li 
            a(href="") Anglicky jazyk                   
        li                       
    li
      a(href="") Jazykové kurzy
      ul
        li 
            a(href="/courses/express-1-cz/") Express I                      
        li 
            a(href="/courses/express-2-cz/") Express II                      
        li 
            a(href="/courses/standard-1-cz") Standard I                   
        li 
            a(href="/courses/standard-2-cz") Standard II  
        li 
            a(href="/courses/standard-3-cz") Standard III 
        li 
            a(href="/courses/intensive-cz") Intensive
        li 
            a(href="/courses/pripravny-cz") Připravný kurzy na medzinarodní zkoušku                                                                                                                                                                                         
        li 
            a(href="/courses/individual-cz") Individuálni vyúka
    li
        a(href="/cennik") Ceník
    li
        a(href="/lektori") Lektoři
    li
        a(href="/kariera") Kariéra
    li
        a(href="/kontakt") Kontakt
