mixin table-cell-top(name)
  .table__cell.cell-top
    p= name
    
mixin table-cell-product(href, product)
  .table__cell.cell-product
    a(href= href)
     h3= product
    
mixin table-cell-features(feature)
  .table__cell.cell-basic&attributes(attributes)
    p= feature
    
section  
  .table__container
    h2.headline2 Ceník jazykových kurzů
    +table-cell-top('Název kurzu')
    +table-cell-top('Délka (hodin)')
    +table-cell-top('Cena')
    
    +table-cell-product('/courses/express-1-cz/', 'Express I')
    +table-cell-features('16  (2 vyuč. hod. / týd., 8 týdnů)')
    +table-cell-features('2900 Kč')
    
    +table-cell-product('/courses/express-2-cz/','Express II')
    +table-cell-features('16 (2 vyuč. hod. / týd., 8 týdnů)')
    +table-cell-features('2900 Kč')
    
    +table-cell-product('/courses/standard-1-cz','Standard  I')
    +table-cell-features('24 (2 vyuč. hod. / týd., 12 týdnů)')
    +table-cell-features('3900 Kč')
    
    +table-cell-product('/courses/standard-2-cz','Standard II')
    +table-cell-features('36 (2 vyuč. hod. / týd., 18 týdnů)')
    +table-cell-features('5400 Kč')
  
    +table-cell-product('/courses/intensive-cz','Intensive')
    +table-cell-features('16 (4 vyuč. hod. / týd., 4 týdnů)')
    +table-cell-features('2900 Kč')
    
    +table-cell-product('/courses/pripravny-cz','Přípravný kurz na mezinárodní zkoušku')
    +table-cell-features('24 (2 vyuč. hod. / týd., 12 týdnů)')
    +table-cell-features('3500 Kč')
    
    +table-cell-product('/courses/individual-cz','Individuální výuka')
    +table-cell-features('Do 8 hodin')
    +table-cell-features('350 Kč / hod.')
    
    +table-cell-product('/courses/individual-cz','Individuální výuka')
    +table-cell-features('8-15 hodin')
    +table-cell-features('330 Kč / hod.')
    
    +table-cell-product('/courses/individual-cz','Individuální výuka')
    +table-cell-features('Víc než 15 hodin')
    +table-cell-features('320 Kč / hod.')
    
  
    
    
