//contact module
.contact__container
  width: 60%
  margin: 0 auto
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding-bottom: 9.969em
  @media(max-width: 1200px)
    width: 80%
  @media(max-width: 950px)
    width: 95%
  //@media (max-width: $mobile-menu)
    margin-top: 3.474rem

.contact__content, iframe
  border-radius: $borderRadius
  box-shadow: $boxShadowComponents

.contact__content
  width: 100%
  // width: 350px
  margin: 0 0 0.5rem
  padding: 0.75em
  font-size: 1.333rem
  display: flex
  background-color: $elBackground
  h3
    color: $shadow
    flex: 1
    line-height: 1.333
  @media(max-width: 525px)
    display: block
    text-align: center
    h3
      margin-bottom: 0.75em

.contact__data
  margin-left: 1em
  flex: 2
  font-weight: bold
  line-height: 1.333
  transition: color 0.1s ease-in-out
  @media(max-width: 525px)
    margin-left: 0
  //p:nth-child(1), p:nth-child(2), p:nth-child(3)
    padding-bottom: 0.375em

.contact-highlight a
  transition: color 0.1s ease-in-out
  &:hover
    color: $accentColor


.contact__50
  width: 50%
  margin: 0 auto
  //background-color: $secondTextColor
  @media(max-width: $mobile-menu)
    width: 100%

iframe
  width: 100%
  height: 370px
  margin-left: 0.5rem
  @media(max-width: $mobile-menu)
    margin-left: 0
