.index-content


.info-tab
	margin: 1em 1em 1.77em
	width: 250px
  font-size: 1rem
  box-shadow: 0 0 0.5em black
	flex-wrap: wrap

.info-tab:hover
  .info-name,
  .info-price,
    background-color: $accentColor
  .info-container,
  .info-description,
  .info-cta
    border: 1px solid $accentColor
  a
    color: $accentColor
    &:hover
      color: $secondTextColor


// .info-tab:last-child
  margin-right: auto


.info-name
  font-size: 1.77em
  width: 100%
  padding: 0.62em 0.381em
  border-radius: .25em .25em 0 0
  background: $basicColor
  color: white
  letter-spacing: 0.2em
  font-weight: bold

.info-price, .info-description
	padding: 1em

.info-price
	background: $basicColor
	color: white
	width: 100%
	letter-spacing: 0.2em
	p
		font-size: 1.33em
		font-weight: bold

.info-description
  font-size: 1.2em
  width: 100%
  line-height: 1.5
  border: 1px solid $basicColor
  background-color: white

.info-cta
	margin: 0.9em auto
	font-size: 1.33em
	border: 1px solid $basicColor
	padding: 0.3em 0.75em
	// border-radius: 0.25em

.info-cta a
    color: $basicColor


.info-cta:hover
  background-color: $accentColor
  a
    color: white

.info-container
	width: 100%
	border: 1px solid $basicColor
	border-radius: 0 0 .25em .25em
