main
  color: $basicTextColor
  a
    color: $basicTextColor

  h2
    font-size: 3.322rem
    margin-bottom: 3.322rem
  h3
    font-size: 2.46rem
  h4
    font-size:
  p, li, a
    font-size: 1.35rem
  p
    line-height: 1.2
  p + p
    padding-top: 1.35em

  a:hover
    color: white
    background-color: $basicTextColor

//Intro section: introduction & news

.shadow
  box-shadow: 0 0 0.2em $basicTextColor

.info-tab
  p
    padding-top: 0
