.index-content
  margin-bottom: 7.53em


  //color: $basicTextColor
  //a
    color: $basicTextColor

  //h2
    margin-bottom: 2.744rem   //refactor
  h3
    font-size: 2.744rem
  h4
    font-size: 1.96rem
  p
    font-size: 1.2rem
  // p
    //line-height: 1.1
  // p + p
    //padding-top: 1em


//Intro section: introduction & news

//.shadow
  box-shadow: 0 0 0.2em $basicColor

.info-tab
	margin: 1em 1em
	width: 250px
  box-shadow: 0 0 0.5em black
	flex-wrap: wrap




.info-tab:hover
  // box-shadow: 0 0 0.3em darken($basicColor, 15%)
  //box-shadow: 0 0 0.3em darken($accentColor, 15%)
  .info-name,
  .info-price,
    background-color: $accentColor
  .info-container,
  .info-description,
  .info-cta
    border: 1px solid $accentColor
  a
    color: $accentColor
    &:hover
      color: $secondTextColor


// .info-tab:last-child
  margin-right: auto


.info-name
	width: 100%
	padding: 1em 0.5em
	border-radius: .25em .25em 0 0
	background: $basicColor
	color: white
	letter-spacing: 0.2em
	font-weight: bold

.info-price, .info-description
	padding: 1em

.info-price
	background: $basicColor
	color: white
	width: 100%
	letter-spacing: 0.2em
	p
		font-size: 1.4em
		font-weight: bold

.info-description
	width: 100%
	line-height: 1.5
	border: 1px solid $basicColor
	background-color: white

.info-cta
	margin: 1em auto
	font-size: 1.35em
	border: 1px solid $basicColor
	padding: 0.35em 0.75em
	// border-radius: 0.25em

.info-cta a
    color: $basicColor


.info-cta:hover
  background-color: $accentColor
  a
    color: white

.info-container
	width: 100%
	border: 1px solid $basicColor
	border-radius: 0 0 .25em .25em
