.banner
  //height: 300px
  height: 50vh
  display: flex
  //justify-content: space-between
  //align-items: center
  //flex-direction: column
  background:
    image: url('../img/praha4_crop.jpg')
    size: cover
    repeat: no-repeat
    attachment: fixed

h1.flex
  align-items: center     // refactor !

.logo-container
  @media (max-width: 630px)
    border-bottom: 1px solid $basicColor
    // width: 100%
  @media (max-width: 400px)
    padding: 0.5em 0


.flex-header
  @media (max-width: $headerBreak)
    border-bottom: 1px solid $basicColor

.logo, .nav-logo
  font-family: serif   //!!!!
  font-size: 3.157rem
  font-weight: bold
  color: $basicTextColor
  // padding: 0.15em 0.4em 0.15em 0
  background-color: $secondTextColor
  @media (max-width: $headerBreak)
    font-size: 2.369rem

.description
  margin-left: 0.3em
  font-family: $fontStack
  color: $basicTextColor
  font-weight: 200
  font-size: 2.369rem
  padding-right: 0.3em
  @media (max-width: $headerBreak)
    font-size: 1.777rem
    //argin-left: 0
    margin-right: 0

.flex-header
  display: flex
  //overflow: hidden
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  @media (max-width: 620px)
    justify-content: center



//languaes flags
.switch-language
  font-weight: 300
  @media (max-width: 650px)
    display: flex
    justify-content: center
    padding: 0.5em
    width: 100%
    li:first-child
      display: none


.flag
  background:
    size: contain
    position: 50%
    repeat: no-repeat
  position: relative
  display: inline-block
  width: 1.6em
  height: 1.2em
  margin: 0 0.5em
  padding-bottom: 0.25em
  transition: all 0.3s ease
  opacity: 0.2
  &:hover
    opacity: 1

.cz
   background:
    image: url('../svg/cz.svg')
.ru
   background:
    image: url('../svg/ru.svg')
.en
   background:
    image: url('../svg/gb.svg')

.opacity
  opacity: 1
