.banner
  //height: 300px
  height: 50vh
  display: flex
  background:
    image: url('../img/praha4_crop.jpg')
    size: cover
    repeat: no-repeat
    attachment: fixed

.logo-center
  display: flex
  //align-items: center     // refactor !
  align-items: baseline     // refactor !
  padding: 0.238em
  //@media (max-width: 400px)
    padding: 0.422em 0

//.logo-container   //out
  //@media (max-width: 630px)
    border-bottom: 1px solid $basicColor
  @media (max-width: 400px)
    padding: 0.5em 0

.logo
  font-family: serif   //!!!!
  font-size: 4.209rem
  font-weight: bold
  //color: $basicTextColor
  color: $basicColor
  // padding: 0.15em 0.4em 0.15em 0
  @media (max-width: 500px)
    font-size: 3.157rem

.description
  margin-left: 0.3em
  font-family: $fontStack
  color: $basicColor
  //font-weight: 100
  font-size: 3.157rem
  padding-right: 0.3em
  @media (max-width: 500px)
    font-size: 2.369rem
  @media (max-width: 360px)
    font-size: 1.777rem
    // margin-left: 0
    //margin-right: 0



.flex-header
  display: flex
  align-items: center
  //justify-content: center
  @media (max-width: 700px)
    justify-content: center



//languaes flags
//.switch-language
  font-weight: 300
  @media (max-width: 650px)
    display: flex
    justify-content: center
    padding: 0.5em
    width: 100%
    li:first-child
      display: none


//.flag
  background:
    size: contain
    position: 50%
    repeat: no-repeat
  position: relative
  display: inline-block
  width: 1.6em
  height: 1.2em
  margin: 0 0.5em
  padding-bottom: 0.25em
  transition: all 0.3s ease
  opacity: 0.2
  &:hover
    opacity: 1

.cz
   background:
    image: url('../svg/cz.svg')
.ru
   background:
    image: url('../svg/ru.svg')
.en
   background:
    image: url('../svg/gb.svg')

//.opacity
  opacity: 1
