.languagesNews
  min-height: 100vh
  width: 100%
  //padding: 1em 0
  position: relative
  //background-color: $basicColor
  display: flex
  justify-content: center

.languages__outerContainer
  width: 70%
  //padding: 2.369rem 0
  padding: 3.157em 0 9.969em
  background-color: $grey
  @media(max-width: $mobile-menu)
    width: 100%

.languages__innerContainer
  width: 100%
  padding: 0 2em
  position: relative

.languages__title
  font-size: 3.157rem
  color: $shadow
  text-align: center
  padding-bottom: 1em
