.languages, .languages-choice
  //width:
  position: relative

  //padding: 2.369em 0.75em
  //margin-top: 1em
  // border-right: 0.5em solid $basicColor
  //border-left: 0.5em solid $basicColor


.languages
  background-color: $grey
  display: none

.languages_mod
  padding: 2.333em 0
  margin-top: 2em
  //border-right: 0.5em solid $basicColor
  //transform-origin: top
  //transition: transform 0.3s ease-in-out

.languages-choice
  display: flex
  padding-bottom: 2.333em
  flex-wrap: wrap
  justify-content: center

.language-item
  font-size: 1.33rem
  border: 0.1em solid $hoverColor
  background-color: $secondTextColor
  transition: text-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out
  margin: 1em 1.333em
  padding: 0.563em 0.75em
  text-align: center

.languages-hover
  .language-item
    cursor: pointer
    &:hover
      background-color: $hoverColor
      color: $secondTextColor
      // border: 0.1em solid $basicColor
    //h3
      text-shadow: 0 0.01em 0.01em lighten($basicTextColor, 20%)
