.languages, .languages-choice
  //width:
  position: relative
  padding: 2.369em 0.75em
  margin-top: 1em

.languages
  background-color: $secondTextColor
  display: none

.languages-choice
  display: flex
  flex-wrap: wrap
  justify-content: center

.language-item
  font-size: 1.33rem
  box-shadow: 0 0 0.1em $shadow
  transition: box-shadow 0.2s ease-in-out
  margin: 1em 1.333em
  padding: 0.563em 0.75em
  text-align: center

.languages-hover
  .language-item
    cursor: pointer
    &:hover
      background-color: $hoverColor
    h3
      text-shadow: 0 0.01em 0.01em lighten($basicTextColor, 20%)
