.lectors
  margin-top: 2.744rem
  margin-bottom: 20.661em


figure.lector
  width: 300px
  padding: 1em
  margin: 1em
  position: relative
  overflow: hidden
  transition: all 0.5s ease-in-out
  //background-color: $basicTextColor
  //border: 1px solid $basicColor
  &:hover
    box-shadow: 0 0 0.25em $basicTextColor
    // border: 1px solid $basicColor
    //  img
      transform: scale(1.1)
    .lector-name
      opacity: 1

    //transform: scale(1)
    //overflow: hidden

  figcaption
    width: 100%
    align-items: center
    position: absolute
    bottom: 0
    right: 0

  .lector-name
    width: 100%
    padding: 1em
    opacity: 0
    font-size: 1.4rem
    letter-spacing: 0.1em
    text-align: center
    background-color: $secondTextColor
    transition: all 0.5s ease-in-out
    //margin-top: 9em
    cursor: pointer
    &:hover
      color: $accentColor
