//navigation

.navigation
  font-size: 1.5rem
  justify-content: center
  background-color: #222222
  a
    transition: all 0.1s ease-in-out
    color: white
    display: block
    padding: 0.7em
    position: relative
    &:hover
        background-color: darken(#192936, 10%)
        color: white
  @media (max-width: 400px)
    li
        width: 100%

.navigation ul
  display: none
  position: absolute
  background-color: #192936
  // background-color: #222222


.navigation li:hover
   ul
    display: block
