.modal-overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  width: 100%
  //min-height: 100%
  height: 100%
  display: none
  justify-content: center
  align-items: flex-start
  z-index: 10
  background-color: rgba(59, 74, 77, 0.95)
  background-color: rgba($basicColor, 0.95)
  opacity: 0
  transition: opacity 0.2s ease-in-out
  font-size: 1rem
  overflow: auto

.modal
  min-height: 100%
  background: rgba(0,0,0,0)
  display: flex
  justify-content: center
  align-items: center

.modal-850
  max-width: 950px

.modal-650
  width: 650px


.modal-container
  display: flex
  flex-wrap: wrap
  background-color: $secondTextColor
  position: relative
  left: -180%
  padding: 1.5625rem
  margin: 1.5625rem
  box-shadow: -0.4em 0.2em 1.5em $shadow
  opacity: 0.5
  transition: all 0.4s ease-in-out
  @media(max-width: $headerBreak)
    margin: 0.5em
    padding: 0


.modal__title
  font-size: 3.157em
  color: $shadow
  @media (max-width: $mobile-menu)
    font-size: 2.369em

.modal_title-small
  font-size: 2.369em
  width: 100%

.modal__subtitle
  font-size: 1.777em
  //font-weight: bold
  padding-top: 0.563em
  color: $shadow

.modal__date
  font-size: 1em
  padding-top: 0.317em
  line-height: 1.5

.modal__content
  font-size: 1.333em
  line-height: 1.2
  padding-top: 0.563em

//.modal__content:first-of-type
  padding-top: 0.563em


.modal-item-40
  width: calc(40% - 1.5625rem)
  padding-right: 1.5625rem
  @media (max-width: 500px)
    width: 100%
    padding-right: 0
.modal-item-60
  width: calc(60% - 0.3em)
  margin-left: 0.15em
  padding: 0
  @media (max-width: 500px)
    width: 100%
    padding: 1em
.modal-item-100
  width: calc(100% - 2em)
  padding: 1em 1em 0


.modal__newsContainer
  width: calc(100% - 2em)
  padding: 1em 1em 0
  display: flex
  justify-content: center
  flex-wrap: wrap
  //> *
    width: 100%

.close
  position: absolute
  top: 0
  right: 0
  //padding: 0 0.2em 0.1em 0.25em
  background-color: $basicColor
  color: $secondTextColor
  transition: all 0.1s linear
  cursor: pointer
  &:hover
    background-color: $secondTextColor
    svg
      fill: $basicColor

.modal-btn
  margin: 0.5em auto 0
  padding: 0.5em 1em
  font-size: 1.333em
  //background:
    image: linear-gradient(to left, $gold 50%, $secondTextColor 50%)
    size: 200%
  transition: all 0.3s linear
  &:hover
    //background-position: -100%
    background-color: $basicColor
    color: $secondTextColor
