.modal-overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  width: 100%
  min-height: 100%
  display: none
  z-index: 10
  background-color: rgba(59, 74, 77, 0.85)
  opacity: 0
  transition: opacity 0.3s ease-in-out
  overflow: auto
  p
    font-size: 1.333rem
    line-height: 1.2
    padding-top: 1rem
  h2
    font-size: 3.157rem

.modal
  width: 850px
  height: 100%
  //position: relative
  background: rgba(0,0,0,0)
  //overflow: auto
  @media (max-width: 700px)
      justify-content: flex-start
      align-items: flex-start



.modal-container
  background-color: $secondTextColor
  position: relative
  left: -150%
  padding: 1.5625rem
  padding: 2.369rem
  // padding: 0.5em
  margin: 1.5625rem

  box-shadow: 0 0 1.5em $shadow
  //overflow-y: auto
  //z-index: 10
  opacity: 0
  transition: all 0.5s ease-in-out
  @media(max-width: 400px)
    margin: 1em
    padding: 0

.modal-item-40
  width: calc(40% - 1.5625rem)
  //width: 40%
  padding-right: 1.5625rem
  @media (max-width: 500px)
    width: 100%
    padding-right: 0
.modal-item-60
  width: calc(60% - 0.3em)
  margin-left: 0.15em
  padding: 0
  @media (max-width: 500px)
    width: 100%
    padding: 1em
.modal-item-100
  width: 100%

.close
  position: absolute
  top: 0
  right: 0
  // font-size: 3.125rem
  // font-size: 1.777rem
  font-size: 2.369rem
  padding: 0 0.2em 0.1em 0.25em
  background-color: $basicColor
  color: $secondTextColor
  //border-radius: 100%
  //border: 1px 0 solid $basicColor
  transition: all 0.3s ease-in-out
  cursor: pointer
  &:hover
    background-color: $secondTextColor
    color: $basicColor
