// news

.news
  width: 100%
  align-self: flex-start
  transition: all 0.2s ease-in-out
  border-radius: 0.25em 
  border: 1px solid $basicColor

  h2
    font-size: 1.96rem
    background: $basicColor
    color: $secondTextColor
    padding: 0.5em 0.25em
    // border-radius: 0.25rem 0.25rem 0 0
  ul
    margin: 1em 0

  li
    font-size: 1rem
    //font-size: 1rem
    font-weight: 500
    line-height: 1.6
    padding: 0 0.25em
    // border-bottom: 1px solid lighten( $basicColor, 50%)

  a
    display: block
    padding: 0 0.25em
    margin-bottom: 0.5em
    transition: all 0.2s ease-in-out

    &:hover
      //color: $thirdTextColor
      background-color: lighten( $basicColor, 30%)

  hr, i
    color: $basicColor

  i
    padding-right: 0.2em
    //font-weight: bold

  &:hover
    box-shadow: 0 0 0.3em darken($basicColor, 15%)
