.table-cell
  font-size: 1.33em
  width: calc(25% - 0.4rem)
  margin: 0.2rem
  background-color: lighten($basicColor, 65%)
  font-weight: 300
  padding: 0.5em 0.8em
  overflow: hidden
  //text-align: center

.cell-product
  font-weight: 500
  transition: all 0.1s ease-in-out
  &:hover
    background-color: $basicColor
    a
      color: $secondTextColor

.cell-basic, .cell-top


.cell-top
  color: $secondTextColor
  background-color: $basicColor

.hidable

.showable
  display: none
