.table-cell
  font-size: 1.33em
  width: calc(25% - 0.4rem)
  margin: 0.2rem
  background-color: $background
  font-weight: 300
  padding: 0.5em 0.8em
  overflow: hidden
  //text-align: center
  @media all and (max-width: 500px)
    width: 100%
    display: block

.cell-product
  font-weight: 500
  transition: all 0.1s ease-in-out
  &:hover
    background-color: $basicColor
    a
      color: $secondTextColor
  @media all and(max-width: 500px)
    background-color: $basicColor
    a
      color: $secondTextColor

.cell-basic, .cell-top


.cell-top
  color: $secondTextColor
  background-color: $basicColor

.hidable
  @media all and(max-width: 500px)
    display: none

.showable
  display: none
  @media all and(max-width: 500px)
    display: inline
