

//@media (max-width: 650px)
  .testimonies
    .h-space
      justify-content: center




blockquote
  //color: $basicColor
  width: calc(100% / 3 - 2.8rem)
  line-height: 1.4
  justify-content: center
  display: flex
  margin: 3.842rem 1.4rem 0
  font-size: 1.4rem
  @media (max-width: 1100px)   //something wrong
    width: calc(100% / 2 - 2.8rem)
  @media (max-width: 800px)   //something wrong
    margin: 1.96rem 1.96rem 0
    width: calc(100% - 3.92rem)
  //margin: 0 auto
  .i
    //color: $basicColor
    //padding: 0.5em 0 0 1em
    padding-top: 0.25em
    font-size: 1.96em

.quote-body
  padding: 1em 0 0 0.5em
  p
    font-size: 1.4rem
    font-style: italic

  footer
    justify-content: flex-end
    font-weight: bold
    margin-top: 1em
  cite
    font-size: 1.4rem
