@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic)

//vars
$basicTextColor: #333
$secondTextColor: #fff
$fontStack: 'Raleway', sans-serif

//global styles

:root
  font-size: 16px
  // color: $basicTextColor
  color: $secondTextColor
  background-color: white
  //background-color: #F1F1D4
  font-family: $fontStack

html, body
  height: 100%

h1
  padding: 0.3em
  .logo
    font-family: serif
    font-size: 3.375rem
    font-weight: bold
    color: black
  .description
    margin-left: 0.3em
    font-family: $fontStack
    color: $basicTextColor
    font-weight: normal
    font-size: 2.25rem
    font-style: italic

a
   //color: $basicTextColor
   color: $secondTextColor
   text-decoration: none
   //display: block  //??
   //font-variant: small-caps
   &:hover
    //color: black
   &:active,
   &:focus
    outline: none
