
<div class="banner">
  <header class="flex">
    <div class="logo-container flex"><a href="index.html">
        <h1 class="flex"> <span class="logo">KK</span><span class="description">jazykové centrum</span></h1></a></div>
    <ul class="switch-language flex">
      <li>Jazyk stránky:</li>
      <li>     <a href="index.html" class="flag cz opacity">       </a>
      </li>
      <li><a href="indexRU.html" class="flag ru"></a>
      </li>
      <li><a href="indexEN.html" class="flag en"></a>
      </li>
    </ul>
  </header>
  <div class="container_80 t-center">
    <h2 class="header-text">Jazykové kurzy v Prahe </h2>
    <div class="offer-languages flex">
      <div class="btn language"><a href="cesky_jazyk.htm">Český jazyk </a></div>
      <div class="btn language"> <a href="rusky_jazyk.html">Ruský jazyk</a></div>
      <div class="btn language"> <a href="latinsky_jazyk.html">Latinský jazyk</a></div>
    </div>
    <div class="offer-courses">
      <h3>Ponúkame jazykové kurzy pre <a href="#beginners">začiatočníkov</a> aj <a href="#advanced">pokročilých</a>, <a href="individual">individualnu výuku</a> a <a href="#international_exam">prípravné kurzy na medzinarodnú skúšku</a>.</h3>
      <div class="btn cta"> <a href="#courses_cz">Ponuka kurzov</a></div>
    </div>
  </div>
  <div class="line flex"><i class="fa fa-chevron-down">   </i></div>
</div>