
<header class="flex">
  <div class="logo-container flex"><a href="/">
      <h1 class="flex"> <span class="logo">KK</span><span class="description">jazykové centrum</span></h1></a></div>
  <ul class="switch-language flex">
    <li>Jazyk stránky:</li>
    <li>     <a href="index.html" class="flag cz opacity">       </a>
    </li>
    <li><a href="indexRU.html" class="flag ru"></a>
    </li>
    <li><a href="indexEN.html" class="flag en"></a></li>
  </ul>
</header>
<nav class="flex">
  <div class="logo-container"><a href="index.html">
      <h3 class="flex"> <span class="logo">KK</span>
      </h3></a></div>
  <ul class="navigation flex">
    <li><a href="/">Úvod</a></li>
    <li><a href="">Jazyky</a>
      <ul>
        <li> <a href="">Český jazyk                     </a></li>
        <li> <a href="">Ruský jazyk                     </a></li>
        <li> <a href="">Anglicky jazyk                   </a></li>
        <li>                      </li>
      </ul>
    </li>
    <li><a href="">Jazykové kurzy</a>
      <ul>
        <li> <a href="">Express I                      </a></li>
        <li> <a href="">Express II                      </a></li>
        <li> <a href="">Standard I                   </a></li>
        <li> <a href="">Standard II  </a></li>
        <li> <a href="">Standard III </a></li>
        <li> <a href="">Intensive</a></li>
        <li> <a href="">Připravný kurzy na medzinarodní zkoušku                                                                                                                                                                                         </a></li>
        <li> <a href="">Individuálni vyúka</a></li>
      </ul>
    </li>
    <li><a href="/cennik">Cenník</a></li>
    <li><a href="/lektori">Lektoři</a></li>
    <li><a href="/kariera">Kariéra</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
  </ul>
</nav>
<div class="banner"></div>