
<nav class="flex">
  <div class="logo-container"><a href="index.html">
      <h3 class="flex"> <span class="logo">KK</span><span class="description">jazykové centrum</span></h3></a></div>
  <ul class="navigation flex">
    <li><a href="">Úvod</a></li>
    <li><a href="">O nás</a></li>
    <li><a href="">Jazyky</a>
      <ul>
        <li> <a href="">Český jazyk                     </a></li>
        <li> <a href="">Ruský jazyk                     </a></li>
        <li> <a href="">Anglicky jazyk                   </a></li>
        <li>                      </li>
      </ul>
    </li>
    <li><a href="">Jazykové kurzy</a>
      <ul>
        <li> <a href="">Express I                      </a></li>
        <li> <a href="">Express II                      </a></li>
        <li> <a href="">Standard I                   </a></li>
        <li> <a href="">Standard II  </a></li>
        <li> <a href="">Standard III </a></li>
        <li> <a href="">Intensive</a></li>
        <li> <a href="">Připravný kurzy na medzinarodní zkoušku                                                                                                                                                                                         </a></li>
        <li> <a href="">Individuálni vyúka</a></li>
      </ul>
    </li>
    <li><a href="">Cenník</a></li>
    <li><a href="">Kariéra</a></li>
    <li><a href="">Lektoři</a></li>
  </ul>
</nav>
<main>   
  <section id="courses_cz" class="courses"></section>
  <section class="testimonies"></section>
</main>