
<main>   
  <section>
    <div class="container_80 flex h-centered">  
      <div class="grid flex h-centered content-box">
        <div class="languages">
          <h2 class="headline t-center">Jazyky, ktoré vyučujeme </h2>
          <div class="container_100 flex h-centered"><a href="ceskyjazyk.html">
              <div class="language-item flex v-centered">
                <div class="flag-big cz"></div>
                <h3 class="flex h-centered">Český jazyk</h3>
              </div></a><a href="ruskyjazyk.html">
              <div class="language-item flex v-centered">
                <div class="flag-big ru"></div>
                <h3 class="flex h-centered">Ruský jazyk</h3>
              </div></a><a href="anglickyjazyk.html">
              <div class="language-item flex v-centered">
                <div class="flag-big en"></div>
                <h3 class="flex h-centered">Anglický jazyk</h3>
              </div></a><a href="anglickyjazyk.html">
              <div class="language-item flex v-centered">
                <div class="flag-big ru"></div>
                <h3 class="flex h-centered">Ruský jazyk</h3>
              </div></a><a href="anglickyjazyk.html">
              <div class="language-item flex v-centered">
                <div class="flag-big cz"></div>
                <h3 class="flex h-centered">Český jazyk</h3>
              </div></a><a href="anglickyjazyk.html">
              <div class="language-item flex v-centered">
                <div class="flag-big en"></div>
                <h3 class="flex h-centered">Anglický jazyk</h3>
              </div></a>
          </div>
        </div>
      </div>
      <div class="grid-3 flex h-centered content-box">
        <div class="news">
          <h2>Novinky</h2>
          <ul>
            <li> <a href=""><i class="fa fa-angle-right"></i>Zápis na kurzy od 10.4.2016</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Otvorenie Jazykového centra 16.4.2016</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Začiatok výuky 17.4.2016</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Zápis na kurzy od 10.4.2016</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Otvorenie Jazykového centra 16.4.2016</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Začiatok výuky 17.4.2016</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Lorem ipsum dolor sit amet, consec adipisicing elit dolor</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Otvorenie Jazykového centra 16.4.2016</a>
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Začiatok výuky 17.4.2016</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="news-template">         </section>
  <section>
    <div class="courses flex">
      <div class="container_80"> 
        <h2 class="t-center headline">Jazykove kurzy</h2>
      </div>
      <div class="container_80 flex h-centered"> 
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Express I</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="expressI.html">Více</a></div>
          </div>
        </div>
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Express II</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="expressI.html">Více</a></div>
          </div>
        </div>
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Standard I</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="standard.html I">Více</a></div>
          </div>
        </div>
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Standard II</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="standard.html I">Více</a></div>
          </div>
        </div>
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Standard III</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="standard.html I">Více</a></div>
          </div>
        </div>
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Intensive</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="standard.html">Více</a></div>
          </div>
        </div>
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Intensive</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="standard.html">Více</a></div>
          </div>
        </div>
        <div class="info-tab flex">
          <div class="info-name t-center">
            <h4>Intensive</h4>
          </div>
          <div class="info-description t-center">
            <p>Kurz pre začiatočníkov</p>
            <p>16 vyučovacích hodín</p>
            <p>2hod/týždenne</p>
          </div>
          <div class="info-price t-center">
            <p>2900 kč</p>
          </div>
          <div class="info-container flex h-centered">
            <div class="btn info-cta"> <a href="standard.html">Více</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonies">
    <div class="container_80">
      <h2 class="headline t-center">Povedali o nas</h2>
    </div>
    <div class="container_80 content-box flex h-centered"> 
      <blockquote class="testimony">
        <div class="i fa fa-quote-left"></div>
        <div class="quote-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <footer class="flex">
            <cite>Lorem Ipsum</cite>
          </footer>
        </div>
      </blockquote>
      <blockquote class="testimony">
        <div class="i fa fa-quote-left"></div>
        <div class="quote-body">
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <footer class="flex">
            <cite>Lorem Ipsum</cite>
          </footer>
        </div>
      </blockquote>
      <blockquote class="testimony">
        <div class="i fa fa-quote-left"></div>
        <div class="quote-body">
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <footer class="flex">
            <cite>Lorem Ipsum</cite>
          </footer>
        </div>
      </blockquote>
      <blockquote class="testimony">
        <div class="i fa fa-quote-left"></div>
        <div class="quote-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <footer class="flex">
            <cite>Lorem Ipsum</cite>
          </footer>
        </div>
      </blockquote>
      <blockquote class="testimony">
        <div class="i fa fa-quote-left"></div>
        <div class="quote-body">
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <footer class="flex">
            <cite>Lorem Ipsum</cite>
          </footer>
        </div>
      </blockquote>
      <blockquote class="testimony">
        <div class="i fa fa-quote-left"></div>
        <div class="quote-body">
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <footer class="flex">
            <cite>Lorem Ipsum</cite>
          </footer>
        </div>
      </blockquote>
    </div>
  </section>
</main>