
<main>   
  <section>
    <div class="container_100 flex red">
      <div class="grid-3 flex h-centered content-box">
        <div class="news">
          <h2>Novinky</h2>
          <ul>
            <li> <a href=""><i class="fa fa-angle-right"></i>Zápis na kurzy od 10.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Otvorenie Jazykového centra 16.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Začiatok výuky 17.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Zápis na kurzy od 10.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Otvorenie Jazykového centra 16.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Začiatok výuky 17.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Zápis na kurzy od 10.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"></i>Otvorenie Jazykového centra 16.4.2016</a>
              
            </li>
            <li> <a href=""><i class="fa fa-angle-right"> </i>Začiatok výuky 17.4.2016</a></li>
          </ul>
        </div>
      </div>
      <div class="grid flex h-centered">
        <div class="languages content-box t-center">
          <h2>Jazyky, ktoré vyučujeme </h2>
          <div class="container_100 flex h-centered red">
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Český jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Ruský jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Anglický jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Český jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Anglický jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Český jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Český jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Ruský jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Anglický jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Český jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Anglický jazyk</h3>
            </div>
            <div class="language-item flex">
              <div class="flag cz"></div>
              <h3>Český jazyk</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flex h-centered red">
    <div class="container_80 flex space">
      <div class="grid-smaller">
        <h3>Kurzy</h3>
      </div>
      <div class="grid-bigger flex content-box"></div>
      <div class="info-tab flex">
        <div class="info-name t-center">
          <h4>Express I</h4>
        </div>
        <div class="info-description t-center">
          <p>Kurz pre začiatočníkov</p>
          <p>16 vyučovacích hodín</p>
          <p>2 hod/tydne</p>
        </div>
        <div class="info-price t-center">
          <p>2900 Kč</p>
        </div>
        <div class="info-container flex h-centered">
          <div class="btn info-cta"> <a href="">Více</a></div>
        </div>
      </div>
      <div class="info-tab flex">
        <div class="info-name t-center">
          <h4>Express I</h4>
        </div>
        <div class="info-description t-center">
          <p>Kurz pre začiatočníkov</p>
          <p>16 vyučovacích hodín</p>
          <p>2 hod/tydne</p>
        </div>
        <div class="info-price t-center">
          <p>2900 Kč</p>
        </div>
        <div class="info-container flex h-centered">
          <div class="btn info-cta"> <a href="">Více</a></div>
        </div>
      </div>
      <div class="info-tab flex">
        <div class="info-name t-center">
          <h4>Express I</h4>
        </div>
        <div class="info-description t-center">
          <p>Kurz pre začiatočníkov</p>
          <p>16 vyučovacích hodín</p>
          <p>2 hod/tydne</p>
        </div>
        <div class="info-price t-center">
          <p>2900 Kč</p>
        </div>
        <div class="info-container flex h-centered">
          <div class="btn info-cta"> <a href="">Více</a></div>
        </div>
      </div>
      <div class="info-tab flex">
        <div class="info-name t-center">
          <h4>Express I</h4>
        </div>
        <div class="info-description t-center">
          <p>Kurz pre začiatočníkov</p>
          <p>16 vyučovacích hodín</p>
          <p>2 hod/tydne</p>
        </div>
        <div class="info-price t-center">
          <p>2900 Kč</p>
        </div>
        <div class="info-container flex h-centered">
          <div class="btn info-cta"> <a href="">Více</a></div>
        </div>
      </div>
      <div class="info-tab flex">
        <div class="info-name t-center">
          <h4>Express I</h4>
        </div>
        <div class="info-description t-center">
          <p>Kurz pre začiatočníkov</p>
          <p>16 vyučovacích hodín</p>
          <p>2 hod/tydne</p>
        </div>
        <div class="info-price t-center">
          <p>2900 Kč</p>
        </div>
        <div class="info-container flex h-centered">
          <div class="btn info-cta"> <a href="">Více</a></div>
        </div>
      </div>
      <div class="info-tab flex">
        <div class="info-name t-center">
          <h4>Express I</h4>
        </div>
        <div class="info-description t-center">
          <p>Kurz pre začiatočníkov</p>
          <p>16 vyučovacích hodín</p>
          <p>2 hod/tydne</p>
        </div>
        <div class="info-price t-center">
          <p>2900 Kč</p>
        </div>
        <div class="info-container flex h-centered">
          <div class="btn info-cta"> <a href="">Více</a></div>
        </div>
      </div>
      <div class="info-tab flex">
        <div class="info-name t-center">
          <h4>Express I</h4>
        </div>
        <div class="info-description t-center">
          <p>Kurz pre začiatočníkov</p>
          <p>16 vyučovacích hodín</p>
          <p>2 hod/tydne</p>
        </div>
        <div class="info-price t-center">
          <p>2900 Kč</p>
        </div>
        <div class="info-container flex h-centered">
          <div class="btn info-cta"> <a href="">Více</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="flex h-centered">
    <div class="container_80 flex">
      <h3>Kurzy pre pokročilých:</h3>
      <div class="grid-bigger"></div>
    </div>
  </section>
  <section class="flex h-centered">
    <div class="container_80 flex">
      <h3>Individualna vyuka:</h3>
      <div class="grid-bigger">
        <div class="hr"></div>
      </div>
    </div>
  </section>
  <section class="flex h-centered">
    <div class="container_80 flex">
      <h3>Prípravné kurzy na medzinárodnú skúšku:</h3>
      <div class="grid-bigger"> 
        <div class="hr"></div>
      </div>
    </div>
  </section>
  <section></section>
</main>