
<section class="newsLanguages">
  <div id="languages" class="container_main-news flex h-centered"> 
    <div class="container_90">
      <h2 class="languages_title t-center">Jazyky, ktoré vyučujeme </h2>
    </div>
    <div id="1st" class="container_90 languages-choice languages-hover">
      <div class="language-item">
        <h3 data-category="zive">Živé jazyky</h3>
      </div>
      <div class="language-item">
        <h3 data-category="starobyle">Starobylé jazyky</h3>
      </div>
    </div>
    <div id="2nd" class="container_90 languages languages-hover"></div>
    <div id="3rd" class="container_90 languages"></div>
  </div>
  <h2 class="newsLanguages__headlineNews">novinky     </h2>
</section>