
<footer class="footer">
  <div class="container_80 content-box">
    <div class="container t-center">
      <div class="phone">
        <h2><i class="fa fa-phone-square"></i> Telefon</h2>
        <div class="content"><a href="tel:+420602000000">+420 602 000 000</a></div>
      </div>
      <div class="address">
        <h2><i class="fa fa-university"></i> Adresa</h2>
        <div class="content">
          <p>KK jazykove centrum</p>
          <p>Vinohradská 40/1972</p>
          <p>120 00 Praha 2</p>
        </div>
      </div>
      <div class="mail">
        <h2><i class="fa fa-envelope"></i> Email</h2>
        <div class="content"> <a href="mailto:mail@mail.com">mail@mail.com</a></div>
      </div>
    </div>
  </div>
</footer>