
<div class="banner2">
  <header class="flex">
    <div class="logo-container flex"><a href="index.html">
        <h1 class="flex"> <span class="logo">KK</span><span class="description">jazykové centrum</span></h1></a></div>
    <ul class="switch-language flex">
      <li>Jazyk stránky:</li>
      <li>     <a href="index.html" class="flag cz opacity">       </a>
      </li>
      <li><a href="indexRU.html" class="flag ru"></a>
      </li>
      <li><a href="indexEN.html" class="flag en"></a></li>
    </ul>
  </header>
</div>