
<section>
  <div class="container_60 t-center">
    <h2 class="m-top-title">Kariera</h2>
    <h3 class="m-top-subtitle">Hledate práci?</h3>
    <h3 class="m-top-subtitle">Podivejte se, zda nehledáme prave vás!</h3>
  </div>
  <div class="container_50">
    <div class="job-offer flex">
      <div class="flex-2">
        <h4>Pracovni pozice</h4>
      </div>
      <div class="flex-1">
        <p>Datum pridani</p>
      </div>
      <div class="container_100 t-center">
        <p>Termin nastupu:<span> Asap<span></p>
      </div>
      <div class="container_100 t-center">
        <p>Ak mate zaujem o tuto pozici zaslete nam vas zivotopis na <a href="mailto:mail@mail.com"> mail@mail.com></a></p>
      </div>
    </div>
    <div class="job-offer flex">
      <div class="flex-2">
        <h4>Pracovni pozice</h4>
      </div>
      <div class="flex-1">
        <p>Datum pridani</p>
      </div>
      <div class="container_100 t-center">
        <p>Termin nastupu:<span> Asap<span></p>
      </div>
      <div class="container_100 t-center">
        <p>Ak mate zaujem o tuto pozici zaslete nam vas zivotopis na <a href="mailto:mail@mail.com"> mail@mail.com </a></p>
      </div>
    </div>
    <div class="job-offer flex">
      <div class="flex-2">
        <h4>Pracovni pozice</h4>
      </div>
      <div class="flex-1">
        <p>Datum pridani</p>
      </div>
      <div class="container_100 t-center">
        <p>Termin nastupu:<span> Asap<span></p>
      </div>
      <div class="container_100 t-center">
        <p>Ak mate zaujem o tuto pozici zaslete nam vas zivotopis na <a href="mailto:mail@mail.com"> mail@mail.com></a></p>
      </div>
    </div>
  </div>
</section>