
<section>
  <div class="container_60 flex h-centered content-offer">
    <h2 class="headline2 job-title t-center">
      <div>hledáme studenty/ky</div>
      <div>pro výuku jazyků</div>
    </h2>
    <p class="text job-content h-center">Studenti vyšších ročníků a absolventi FF UK přijmou do svého týmu kreativní lektory jazyků pro workshopy a výuku individuální, skupinovou i firemní. Vítáme všechny jazyky: živé i mrtvé, přirozené i umělé!</p>
    <h4 class="job-subtitle t-center">Nabízíme:</h4>
    <ul class="list t-center">
      <li>Vybavené zázemí,</li>
      <li>Pomoc v přípravě studijního plánu,</li>
      <li>Zajištění učebních materiálů,</li>
      <li>Aktivní hledání klientely,</li>
      <li>Individuální přístup.</li>
    </ul>
  </div>
</section>