
<section>
  <div class="container_80">
    <h2 class="headline2 t-center">Lektoři</h2>
  </div>
  <div class="container_80 flex h-centered lectors">
    <figure class="lector"><img src="../assets/img/ksenia.jpg" class="lector__img"/>
      <figcaption data-name="ksenia" class="lector__caption lector-lectorOf">Lektorka ruského, církevněslovanského a staroruského jazyka</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/ksenia.jpg" class="lector__img"/>
      <figcaption data-name="ksenia" class="lector__caption lector-slide">Ksenia</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/ksenia.jpg" class="lector__img"/>
      <figcaption data-name="ksenia" class="lector__caption">
        <h3 class="lector__name">Ksenia</h3>
        <h4 class="lector__lectorOf">Lektorka ruského, církevněslovanského a staroruského jazyka</h4>
      </figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/martin.jpg" class="lector__img"/>
      <figcaption data-name="martin" class="lector__caption lector-slide">Martin</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/martin.jpg" class="lector__img"/>
      <figcaption data-name="martin" class="lector__caption lector-lectorOf">Lektor německého jazyka</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/martin.jpg" class="lector__img"/>
      <figcaption data-name="martin" class="lector__caption">
        <h3 class="lector__name">Martin</h3>
        <h4 class="lector__lectorOf">Lektor německého jazyka</h4>
      </figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/lera.jpg" class="lector__img"/>
      <figcaption data-name="lera" class="lector__caption lector-lectorOf">Lektorka ruského jazyka</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/lera.jpg" class="lector__img"/>
      <figcaption data-name="lera" class="lector__caption">
        <h3 class="lector__name">Lera</h3>
        <h4 class="lector__lectorOf">Lektorka ruského jazyka</h4>
      </figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/jan.jpg" class="lector__img"/>
      <figcaption data-name="jan" class="lector__caption lector-lectorOf">Lektor anglického, českého, japonského, korejského jazyka</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/jan.jpg" class="lector__img"/>
      <figcaption data-name="jan" class="lector__caption">
        <h3 class="lector__name">Jan</h3>
        <h4 class="lector__lectorOf">Lektor anglického, českého, japonského, korejského jazyka</h4>
      </figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/maria.jpg" class="lector__img"/>
      <figcaption data-name="maria" class="lector__caption lector-lectorOf">Lektorka anglického, francouzského, egyptského jazyka</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/maria.jpg" class="lector__img"/>
      <figcaption data-name="maria" class="lector__caption">
        <h3 class="lector__name">Maria</h3>
        <h4 class="lector__lectorOf">Lektorka anglického, francouzského, egyptského jazyka</h4>
      </figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/adam.jpg" class="lector__img"/>
      <figcaption data-name="adam" class="lector__caption lector-lectorOf">Lektor arabského jazyka</figcaption>
    </figure>
    <figure class="lector"><img src="../assets/img/adam.jpg" class="lector__img"/>
      <figcaption data-name="adam" class="lector__caption">
        <h3 class="lector__name">Adam</h3>
        <h4 class="lector__lectorOf">Lektor arabského jazyka</h4>
      </figcaption>
    </figure>
  </div>
</section>