
<section>
  <div class="container_main">
    <h2 class="headline2 t-center">Ceník jazykových kurzů</h2>
  </div>
  <div class="container_main flex h-centered">
    <div class="table-cell cell-top hidable">
      <p>Název kurzu</p>
    </div>
    <div class="table-cell cell-top hidable">
      <p>Délka (hodin)</p>
    </div>
    <div class="table-cell cell-top hidable">
      <p>Cena</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/express-1-cz/">
        <h3>Express I</h3></a></div>
    <div class="table-cell cell-basic">
      <p>16  (2 vyuč. hod. / týd., 8 týdnů)</p>
    </div>
    <div class="table-cell cell-basic">
      <p>2900 Kč</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/express_2_cz/">
        <h3>Express II</h3></a></div>
    <div class="table-cell cell-basic">
      <p>16 (2 vyuč. hod. / týd., 8 týdnů)</p>
    </div>
    <div class="table-cell cell-basic">
      <p>2900 Kč</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/standard_1_cz">
        <h3>Standard  I</h3></a></div>
    <div class="table-cell cell-basic">
      <p>24 (2 vyuč. hod. / týd., 12 týdnů)</p>
    </div>
    <div class="table-cell cell-basic">
      <p>3900 Kč</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/standard_2_cz">
        <h3>Standard II</h3></a></div>
    <div class="table-cell cell-basic">
      <p>36 (2 vyuč. hod. / týd., 18 týdnů)</p>
    </div>
    <div class="table-cell cell-basic">
      <p>5400 Kč</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/standard_3_cz">
        <h3>Standard III</h3></a></div>
    <div class="table-cell cell-basic">
      <p>-</p>
    </div>
    <div class="table-cell cell-basic">
      <p>-</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/intensive_cz">
        <h3>Intensive</h3></a></div>
    <div class="table-cell cell-basic">
      <p>16 (4 vyuč. hod. / týd., 4 týdnů)</p>
    </div>
    <div class="table-cell cell-basic">
      <p>2900 Kč</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/pripravny_cz">
        <h3>Přípravný kurz na mezinárodní zkoušku</h3></a></div>
    <div class="table-cell cell-basic">
      <p>24 (2 vyuč. hod. / týd., 12 týdnů)</p>
    </div>
    <div class="table-cell cell-basic">
      <p>3500 Kč</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/individual_cz">
        <h3>Individuální výuka</h3></a></div>
    <div class="table-cell cell-basic">
      <p>Do 8 hodin</p>
    </div>
    <div class="table-cell cell-basic">
      <p>350 Kč / hod.</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/individual_cz">
        <h3>Individuální výuka</h3></a></div>
    <div class="table-cell cell-basic">
      <p>8-15 hodin</p>
    </div>
    <div class="table-cell cell-basic">
      <p>330 Kč / hod.</p>
    </div>
    <div class="table-cell cell-product"><a href="/courses/individual_cz">
        <h3>Individuální výuka</h3></a></div>
    <div class="table-cell cell-basic">
      <p>Víc než 15 hodin</p>
    </div>
    <div class="table-cell cell-basic">
      <p>320 kč / hod.</p>
    </div>
  </div>
</section>