
<section class="testimonies">
  <div class="container_80">
    <h2 class="headline2 t-center">Povedali o nas</h2>
  </div>
  <div class="container_80 flex h-centered"> 
    <blockquote class="testimony">
      <div class="i fa fa-quote-left"></div>
      <div class="quote-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <footer class="flex">
          <cite>Lorem Ipsum</cite>
        </footer>
      </div>
    </blockquote>
    <blockquote class="testimony">
      <div class="i fa fa-quote-left"></div>
      <div class="quote-body">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <footer class="flex">
          <cite>Lorem Ipsum</cite>
        </footer>
      </div>
    </blockquote>
    <blockquote class="testimony">
      <div class="i fa fa-quote-left"></div>
      <div class="quote-body">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <footer class="flex">
          <cite>Lorem Ipsum</cite>
        </footer>
      </div>
    </blockquote>
    <blockquote class="testimony">
      <div class="i fa fa-quote-left"></div>
      <div class="quote-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <footer class="flex">
          <cite>Lorem Ipsum</cite>
        </footer>
      </div>
    </blockquote>
    <blockquote class="testimony">
      <div class="i fa fa-quote-left"></div>
      <div class="quote-body">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <footer class="flex">
          <cite>Lorem Ipsum</cite>
        </footer>
      </div>
    </blockquote>
    <blockquote class="testimony">
      <div class="i fa fa-quote-left"></div>
      <div class="quote-body">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <footer class="flex">
          <cite>Lorem Ipsum</cite>
        </footer>
      </div>
    </blockquote>
  </div>
</section>