.job-offer.flex
  .flex-2
    h4 Pracovni pozice
  .flex-1
    p Datum pridani
  .container_100.t-center
    p Termin nastupu:<span> Asap<span>
  .container_100.t-center
    p Ak mate zaujem o tuto pozici zaslet
