<script id="noticesTemplate" type="text/x-handlebars-template"> 
{%raw%}{{#each shortNotices}}{%endraw%}   
<li class="notice" data-date="{%raw%}{{date}}{%endraw%}">  
<p> <i class="fa fa-angle-right"></i>{%raw%}{{notice}}{%endraw%} </p> 
</li> 
{%raw%}{{/each}}{%endraw%}</script>  

      
