/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,400italic,500,600,700,800);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.red {
  border: 1px solid red; }

:root {
  font-size: 16px;
  color: #37474f;
  background-color: white;
  font-family: "Raleway", sans-serif; }

html, body {
  height: 100%; }

h2 {
  font-size: 3.842rem; }

h4 {
  font-size: 1.96rem; }

h1 {
  padding: 0.3rem; }

a {
  color: #37474f;
  text-decoration: none; }
  a:active, a:focus {
    outline: none; }

.btn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 0.25em;
          border-radius: 0.25em; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.h-centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.v-centered {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.l-align {
  margin-right: auto; }

.content-box {
  padding: 1em; }

.underline:hover {
  text-decoration: underline; }

.t-center {
  text-align: center; }

section, header {
  width: 100%; }

section {
  padding-top: 5.378em; }

.container_100 {
  width: 100%; }

.container_90 {
  width: 90%;
  margin: 0 auto; }

.container_80 {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .container_80 {
      width: 90%; } }
  @media (max-width: 600px) {
    .container_80 {
      width: 100%;
      padding: 1em; } }

.grid-smaller {
  width: 318.69px; }

.grid-1 {
  width: 61.81%; }

.grid-2 {
  width: 38.19%; }

.grid-3 {
  width: 23.61%;
  min-width: 318.69px; }
  @media (max-width: 800px) {
    .grid-3 {
      width: 38.19%; } }

.grid-4 {
  width: 14.59%; }

.grid {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.banner {
  min-height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/praha_ulice_small.jpg");
  background-size: cover; }

header.flex {
  background-color: white;
  width: 100%; }

h1.flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.logo {
  font-family: serif;
  font-size: 2.744rem;
  font-weight: bold;
  color: #37474f; }

.description {
  margin-left: 0.3em;
  font-family: "Raleway", sans-serif;
  color: #37474f;
  font-weight: 200;
  font-size: 1.96rem;
  padding-right: 0.3em; }

header.flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.line {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.9rem;
  display: none; }
  .line i {
    color: #37474f;
    font-size: 2.9rem;
    padding: 0 0.5rem; }

.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.6em;
  height: 1.2em;
  margin: 0 0.5em;
  padding-bottom: 0.25em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.2; }
  .flag:hover {
    opacity: 1; }

.cz {
  background-image: url("../svg/cz.svg"); }

.ru {
  background-image: url("../svg/ru.svg"); }

.en {
  background-image: url("../svg/gb.svg"); }

.opacity {
  opacity: 1; }

.header-text {
  font-size: 5.062rem;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding: 0 0.2em 0.1em;
  -webkit-border-radius: 0.05em;
          border-radius: 0.05em; }
  @media (max-width: 700px) {
    .header-text {
      margin-top: 0.5em;
      font-size: 3.5em; } }
  @media (max-width: 400px) {
    .header-text {
      margin-top: 0.5em;
      font-size: 2.5em; } }

.offer-languages, .offer-courses {
  margin-top: 3rem; }

.language, .cta {
  font-size: 1.5rem;
  padding: 0.4em 0.4em;
  border: 1px solid #37474f; }
  @media (max-width: 500px) {
    .language, .cta {
      font-size: 1rem; } }

.language {
  margin-left: 1em; }

.cta {
  margin-top: 2.5rem;
  display: inline-block; }

h3.offer-courses {
  font-size: 2.25rem;
  line-height: 1.5;
  font-weight: 300;
  -webkit-border-radius: 0.1em;
          border-radius: 0.1em;
  text-align: center; }
  @media (max-width: 700px) {
    h3.offer-courses {
      font-size: 1.5rem; } }

nav {
  width: 100%;
  background-color: #00bcd4;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1; }

.navigation {
  font-size: 1.4rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em; }
  .navigation a {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: white;
    display: block;
    padding: 0.8em 0.25em 0.6em;
    position: relative; }
    .navigation a:hover {
      background-color: #008fa1; }

.navigation ul {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #00bcd4;
  font-size: 1.5rem; }
  .navigation ul a {
    padding: 0.5em 0.5em 0.5em 1.05em; }

.navigation li:hover ul {
  display: block; }

nav .logo-container a {
  color: #37474f; }

nav h3 {
  padding: 0.3em;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

nav .logo-container {
  display: none; }

.news {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem;
  border: 1px solid #00bcd4; }
  .news h2 {
    font-size: 1.96rem;
    background: #00bcd4;
    color: white;
    padding: 0.5em 0.25em;
    -webkit-border-radius: 0.25rem 0.25rem 0 0;
            border-radius: 0.25rem 0.25rem 0 0; }
  .news ul {
    margin: 1em 0; }
  .news li {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 0 0.25em; }
  .news a {
    display: block;
    padding: 0 0.25em;
    margin-bottom: 0.5em; }
    .news a:hover {
      background-color: #d4faff; }
  .news hr, .news i {
    color: #00bcd4; }
  .news i {
    padding-right: 0.2em; }
  .news:hover {
    -webkit-box-shadow: 0 0 0.3em #007888;
            box-shadow: 0 0 0.3em #007888; }

main {
  color: #37474f; }
  main a {
    color: #37474f; }
  main h3 {
    font-size: 2.744rem;
    font-size: 2.744rem; }
  main h4 {
    font-size: 1.96rem; }
  main p {
    font-size: 1.4rem; }
  main p {
    line-height: 1.2; }
  main p + p {
    padding-top: 1.35em; }

.info-tab {
  margin: 1em 1em;
  width: 300px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    flex-wrap-border-radius: 0.25em; }

.info-tab:hover {
  -webkit-box-shadow: 0 0 0.3em #007888;
          box-shadow: 0 0 0.3em #007888; }

.info-name {
  width: 100%;
  padding: 1em 0.5em;
  -webkit-border-radius: .25em .25em 0 0;
          border-radius: .25em .25em 0 0;
  background: #00bcd4;
  color: white;
  letter-spacing: 0.2em;
  font-weight: bold; }

.info-price, .info-description {
  padding: 1em; }

.info-price {
  background: #00bcd4;
  color: white;
  width: 100%;
  letter-spacing: 0.2em; }
  .info-price p {
    font-size: 1.4em;
    font-weight: bold; }

.info-description {
  width: 100%;
  line-height: 2;
  border: 1px solid #00bcd4;
  background-color: white; }

.info-cta {
  margin: 1em auto;
  font-size: 1.35em;
  border: 1px solid #00bcd4;
  padding: 0.35em 0.75em;
  -webkit-border-radius: 0.25em;
          border-radius: 0.25em; }

.info-cta:hover {
  background-color: #00bcd4;
  color: white; }

.info-container {
  width: 100%;
  border: 1px solid #00bcd4;
  -webkit-border-radius: 0 0 .25em .25em;
          border-radius: 0 0 .25em .25em; }

.container_100.flex {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.languages, .courses {
  width: 100%; }
  .languages h2, .courses h2 {
    margin-bottom: 3.842rem; }

.language-item {
  -webkit-border-radius: 0 0.25rem 0.25rem 0;
          border-radius: 0 0.25rem 0.25rem 0;
  -webkit-box-shadow: 0 0 0.3em #007888;
          box-shadow: 0 0 0.3em #007888;
  -webkit-box-shadow: 0 0 0.3em #37474f;
          box-shadow: 0 0 0.3em #37474f;
  margin: 1em 0.5em; }
  .language-item:hover {
    background-color: #d4faff; }
  .language-item h3 {
    font-size: 1.96rem;
    padding: 0 0.5em; }

.flag-big {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 3.75em; }

.is-fixed {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 0.5em #37474f;
          box-shadow: 0 0 0.5em #37474f;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

nav .is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white; }
