/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,400italic,500,600,700,800);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

:root {
  font-size: 16px;
  color: #222;
  background-color: white;
  font-family: "Raleway", sans-serif; }

html, body {
  height: 100%; }

h1 {
  padding: 0.3rem; }

.logo {
  font-family: serif;
  font-size: 3.375rem;
  font-weight: bold;
  color: black; }

.description {
  margin-left: 0.3em;
  font-family: "Raleway", sans-serif;
  color: #222;
  font-weight: 200;
  font-size: 2.25rem;
  padding-right: 0.3em;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

a {
  color: #222;
  text-decoration: none; }
  a:active, a:focus {
    outline: none; }

.btn {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 0.25em;
          border-radius: 0.25em; }
  .btn:hover {
    background-color: #222; }
    .btn:hover a {
      color: white; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.h-centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.l-align {
  margin-right: auto; }

hr {
  color: #222;
  background-color: #222;
  width: 38.2%; }

.content-box {
  padding: 1em; }

.underline:hover {
  text-decoration: underline; }

.t-center {
  text-align: center; }

section, header {
  width: 100%; }

section {
  padding-top: 6.053em; }

.container_80 {
  width: 80%; }
  @media (max-width: 900px) {
    .container_80 {
      width: 90%; } }
  @media (max-width: 600px) {
    .container_80 {
      width: 100%;
      padding: 1em; } }

.grid-smaller {
  width: 38.2%; }

.grid-bigger {
  width: 61.8%; }

.grid-3 {
  width: -webkit-calc(100%/3);
  width: calc(100%/3); }

.banner {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/praha_ulice.jpg");
  background-size: cover;
  background-attachment: fixed; }

header.flex, .line, .header-text, .offer-courses {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 0.8em #222;
          box-shadow: 0 0 0.8em #222; }

header.flex {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.line {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.9rem; }
  .line i {
    color: #222;
    font-size: 2.9rem;
    padding: 0 0.5rem; }

.flag {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.6em;
  height: 1.2em;
  margin: 0 0.5em;
  padding-bottom: 0.25em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.2; }
  .flag:hover {
    opacity: 1; }

.cz {
  background-image: url("../svg/cz.svg"); }

.ru {
  background-image: url("../svg/ru.svg"); }

.en {
  background-image: url("../svg/gb.svg"); }

.opacity {
  opacity: 1; }

.header-text {
  font-size: 5.062rem;
  letter-spacing: 0.1em;
  font-weight: 200;
  padding: 0 0.2em 0.1em;
  -webkit-border-radius: 0.05em;
          border-radius: 0.05em; }
  @media (max-width: 700px) {
    .header-text {
      margin-top: 0.5em;
      font-size: 3.5em; } }
  @media (max-width: 400px) {
    .header-text {
      margin-top: 0.5em;
      font-size: 2.5em; } }

.offer-languages, .offer-courses {
  margin-top: 3rem; }

.language, .cta {
  font-size: 1.5rem;
  padding: 0.4em 0.8em;
  background-color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 500px) {
    .language, .cta {
      font-size: 1rem; } }

.language {
  margin-left: 1em; }

.cta {
  margin-top: 2.5rem;
  display: inline-block; }

h3.offer-courses {
  font-size: 2.25rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 300;
  -webkit-border-radius: 0.1em;
          border-radius: 0.1em; }
  @media (max-width: 700px) {
    h3.offer-courses {
      font-size: 1.5rem; } }

nav {
  width: 100%;
  background-color: #222;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.navigation {
  font-size: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222;
  margin-left: 1em; }
  .navigation a {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: white;
    display: block;
    padding: 1em 0.7em 0.65em;
    position: relative; }
    .navigation a:hover {
      background-color: white;
      color: #222;
      -webkit-box-shadow: 0 0 0.5em #222;
              box-shadow: 0 0 0.5em #222; }
  @media (max-width: 400px) {
    .navigation li {
      width: 100%; } }

.navigation ul {
  display: none;
  position: absolute;
  background-color: #222;
  font-size: 1.5rem; }
  .navigation ul a {
    padding: 0.5em 0.5em 0.5em 1.05em; }

.navigation li:hover ul {
  display: block; }

nav .logo-container a {
  color: #222; }

nav h3 {
  padding: 0.3em; }

nav .logo-container {
  display: none; }

main {
  color: #222; }
  main a {
    color: #222; }
  main h2 {
    font-size: 3.322rem;
    margin-bottom: 3.322rem; }
  main h3 {
    font-size: 2.46rem; }
  main p, main li, main a {
    font-size: 1.35rem; }
  main p {
    line-height: 1.2; }
  main p + p {
    padding-top: 1.35em; }
  main a:hover {
    color: white;
    background-color: #222; }

.shadow {
  -webkit-box-shadow: 0 0 0.2em #222;
          box-shadow: 0 0 0.2em #222; }

.info-tab p {
  padding-top: 0; }

.is-fixed {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 0.8em #222;
          box-shadow: 0 0 0.8em #222;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .is-fixed .navigation li:hover ul {
    -webkit-box-shadow: 0 0 0.8em #222;
            box-shadow: 0 0 0.8em #222; }

nav .is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white; }
