.is-fixed
  position: fixed
  top: 0
  box-shadow: 0 0 0.5em $basicTextColor
  justify-content: flex-start
  .navigation li:hover
     ul
      //box-shadow: 0 0 0.5em $basicTextColor

nav .is-flex
  display: flex
  background-color: white
  //opacity: 1
