.is-fixed
  position: fixed
  top: 0
  box-shadow: 0 0em 0.5em black
  justify-content: flex-start
  .navigation li:hover
     ul
      box-shadow: 0 0.45em 0.5em black
      @media (max-width: $mobile-menu)
        box-shadow: none

//.logo-is-static
  position: fixed

.logo-is-in-position
  display: block

.is-displaying
  display: flex

.is-visible
  opacity: 1

.is-in-position
  opacity: 1
  left: 0

.o-hidden
  overflow: hidden

.is-hidden
  display: none

.is-open
  display: flex

.social
  //margin-right: auto

.submenu-is-open
  display: block
